
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Open Sans";
    background-color: rgb(83, 116, 103);
}


header {
    background-color: #174e3a;
    color: #fff6f6;
    text-align: center;
    padding: 20px;
}

header h1 {
  margin: 10px;
}


nav ul {
    list-style: none;
}
nav li {
    display: inline;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    color: #f8eeee;
}
  main { 
    padding: 20px;
    overflow: hidden;
  }

  .card {
    width: calc(33.33% - 20px);
    height: 440px;
    margin: 10px;
    padding: 20px;
    background-color: #879e95;
    box-shadow: 0 2px 4px rgba(24, 109, 83, 0.623);
    text-align: center;
    float: left;
    border-radius: 23px 23px;
  }

  .card img {
    max-width: 100%;
    height: 300px;
  }

  .card button { 
    background-color: #174e;
    color: #f7f2f2;
    border: none;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px 15px;
  }

  .card button:hover {
    background-color: #4dac52;
  }

   footer {
    background-color: rgba(31, 68, 57, 0.986);
    color: #fffbfb;
    text-align: center;
    padding: 1rem;
   }

   nav ul li  { 
    padding: 8px 10px;
    transition: all 1s ease;
   }

   nav ul li:hover {
    background-color: #668373;
    border-radius: 15px 15px;
   }

   /* Design Responsivo */
   @media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 20px); 
    }
}
   @media screen and (max-width: 480px) {
    .card {
      width: 100%;
    }
  }